

<section class="row">
    <article class="column">

        <h1>New Project</h1>

        <label for="search">Search Projects</label>
        <input type="text" name="search" id="search" ng-model="search">

        <ul>
            <li ng-repeat="project in projects | filter:search">{{ project.title }}</li>
        </ul>

        <form name="projectForm" ng-submit="addProject()">


            <label for="title">Title</label>
            <input type="text" name="title" id="title" ng-model="projectTitle">

            <label for="description">Description</label>
            <input type="text" name="description" id="description" ng-model="projectDescription">

            <button type="submit">Submit</button>

        </form>



    </article>
</section>


